<div class="head" style="background-image: url('../../assets/images/Health.png');">
  <h1>Livestock & Disease Monitor System</h1>
</div>
<div class="row">
  <div class="s12 m12">
    <form>
      <div class="row">
        <div class="file-field input-field col s6 offset-s3">
          <h5><i class="fas fa-exclamation-triangle"></i> Login with your keystore file and password as a Farmer, Manufacturer, Distributor, Retailer or Customer</h5>
        </div>
        <div class="file-field input-field col s6 offset-s3">
          <div class="btn cyan darken-3">
            <span><i class="fas fa-file-upload"></i> Keystore</span>
            <input type="file" (change)="fileChange($event)">
          </div>
          <div class="file-path-wrapper">
            <input #report class="file-path validate" type="text">
            <label style="margin-left: 170px;">Upload Keystore File</label>
          </div>
        </div>
        <div class="input-field col s6 offset-s3">
          <input id="password" type="password" #passwd class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s3 offset-s5">
          <button class="btn cyan darken-3" type="button" (click)='login()' name="action">
            <i class="fas fa-sign-in-alt"></i> Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
