<div class="head blue-grey darken-2">
  <h1>Livestock & Disease Monitor System</h1>
</div>
<div class="row">
  <div class="s12 m12">
    <form>
      <div class="row">
        <div class="file-field input-field col s6 offset-s3">
          <h5><i class="fas fa-exclamation-triangle"></i> Login with your keystore file as a distributor, manufacturer, retailer or supplier at this time:</h5>
        </div>
        <div class="file-field input-field col s6 offset-s3">
          <div class="btn">
            <span><i class="fas fa-upload"></i> Keystore</span>
            <input type="file" (change)="fileChange($event)" >
          </div>
          <div class="file-path-wrapper">
            <input #report class="file-path validate" type="text">
          </div>
        </div>
        <div class="input-field col s6 offset-s3">
          <input id="password" type="password" #passwd class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s3 offset-s5">
          <button class="btn waves-effect waves-light" type="button" (click)='login()' name="action">
            <i class="fas fa-sign-in-alt"></i> Login
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
