<div class="row">
  <div class="col s10 offset-s1">
    <h4><b><i class="fas fa-truck"></i> {{Role}}</b></h4>
  </div>
  <div id="request" class="col s12">
    <form>
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <div class="card row">
          <div class="flow col">
            <h5>FLOW</h5>
            <table>
              <thead>
                <th><button class="btn"><i class="fas fa-tractor"></i> Farmer</button></th>
                <th><i class="fas arrows fa-exchange-alt"></i></th>
                <th><button class="btn"><i class="fas fa-wrench"></i> Manufacturer</button></th>
                <th><i class="fas arrows fa-exchange-alt"></i></th>
                <th><button class="btn red accent-4"><i class="fas fa-truck"></i> Distributor</button></th>
                <th><i class="fas arrows fa-exchange-alt"></i></th>
                <th><button class="btn"><i class="fas fa-store"></i> Retailer</button></th>
                <th><i class="fas arrows fa-long-arrow-alt-right"></i></th>
                <th><button class="btn"><i class="fas fa-user"></i> Customer</button></th>
              </thead>
              <tbody>
                <td>
                  <p>Send shipment with QA report to manufacturer.</p>
                </td>
                <td></td>
                <td>
                  <p>Sent shipment request to farmer.</p>
                  <p>---or---</p>
                  <p>Send shipment with QA report to distributor.</p>
                </td>
                <td></td>
                <td>
                  <p><b>Sent shipment request to manufacturer.</b></p>
                  <p><b>---or---</b></p>
                  <p><b>Send shipment with QA report to retailer.</b></p>
                </td>
                <td></td>
                <td>
                  <p>Sent Shipment Request to Distributor.</p>
                </td>
                <td></td>
                <td>
                  <p>View the same QA report as Retailer.</p>
                </td>
              </tbody>
            </table>
          </div>
        </div>
        <h4>REQUEST SHIPMENT</h4>
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s4">
                    <input #prod id="product" type="text" class="validate">
                    <label for="product">Product Name</label>
                  </div>
                  <div class="input-field col s4">
                    <input #order id="order_no" type="text" class="validate">
                    <label for="order_no">Order No.</label>
                  </div>
                  <div class="input-field col s4">
                    <input #ddate id="delivery_date" type="date" class="validate">
                    <!-- <label for="delivery_date">Delivery Date</label> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input #cost id="price" type="text" class="validate">
                    <label for="price">Price</label>
                  </div>
                  <div class="input-field col s6">
                    <input #quant id="quantity" type="text" class="validate">
                    <label for="quantity">Quantity</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s3 offset-s5">
                <button class="btn cyan darken-3" type="button" (click)='onSubmitReq()' name="action">
                  <i class="fas fa-satellite-dish"></i> Request Shipment
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div id="send" class="col s12">
    <form>
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <h4>SEND SHIPMENT</h4>
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <input disabled #product id="name" type="text" class="validate">
                    <label for="name">Product Name</label>
                  </div>
                  <div class="file-field input-field col s6">
                    <div class="btn cyan darken-3">
                      <span><i class="fas fa-file-upload"></i> Report</span>
                      <input type="file" (change)='fileUpload($event)'>
                    </div>
                    <div class="file-path-wrapper">
                      <input #report class="file-path validate" type="text">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input disabled #orderNo id="order_no" type="text" class="validate">
                <label for="order_no">Order No.</label>
              </div>
              <div class="input-field col s6">
                <input disabled #deliveryDate id="delivery_date" type="text" class="validate">
                <!-- <label for="delivery_date">Delivery Date</label> -->
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s4">
                    <input disabled #temp id="temp" type="text" class="validate">
                    <label for="temp">Temperature</label>
                  </div>
                  <div class="input-field col s4">
                    <input disabled #price id="price" type="text" class="validate">
                    <label for="price">Price</label>
                  </div>
                  <div class="input-field col s4">
                    <input disabled #quantity id="quantity" type="text" class="validate">
                    <label for="quantity">Quantity</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col s3 offset-s5">
                <button class="btn cyan darken-3" type="button" (click)='onSubmitReport()' name="action">
                  <i class="fas fa-paper-plane"></i> Send Shipment
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
  <div id="reports" class="col s12">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <h4>VIEW REPORTS</h4>
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <table>
                  <thead>
                    <tr>
                      <th>Order Number</th>
                      <th>Role</th>
                      <th>View Report</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of dataValue">
                      <td>{{data.orderno}}</td>
                      <td>{{data.role}}</td>
                      <td><a [attr.href]="data.fileInfo" target="_blank"><i class="material-icons">cloud_download</i></a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
