<div class="row">
  <div class="col s10 offset-s1">
    <h4><b><i class="fas fa-user"></i> {{Role}}</b></h4>
  </div>
  <div id="reports" class="col s12">
    <div class="row">
      <div class="col s12 m10 offset-m1">
        <div class="card row">
          <div class="flow col">
            <h5>FLOW</h5>
            <table>
              <thead>
                <th><button class="btn"><i class="fas fa-tractor"></i> Farmer</button></th>
                <th><i class="fas arrows fa-exchange-alt"></i></th>
                <th><button class="btn"><i class="fas fa-wrench"></i> Manufacturer</button></th>
                <th><i class="fas arrows fa-exchange-alt"></i></th>
                <th><button class="btn"><i class="fas fa-truck"></i> Distributor</button></th>
                <th><i class="fas arrows fa-exchange-alt"></i></th>
                <th><button class="btn"><i class="fas fa-store"></i> Retailer</button></th>
                <th><i class="fas arrows fa-long-arrow-alt-right"></i></th>
                <th><button class="btn red accent-4"><i class="fas fa-user"></i> Customer</button></th>
              </thead>
              <tbody>
                <td>
                  <p>Send shipment with QA report to manufacturer.</p>
                </td>
                <td></td>
                <td>
                  <p>Sent shipment request to farmer.</p>
                  <p>---or---</p>
                  <p>Send shipment with QA report to distributor.</p>
                </td>
                <td></td>
                <td>
                  <p>Sent shipment request to manufacturer.</p>
                  <p>---or---</p>
                  <p>Send shipment with QA report to retailer.</p>
                </td>
                <td></td>
                <td>
                  <p>Sent Shipment Request to Distributor.</p>
                </td>
                <td></td>
                <td>
                  <p><b>View the same QA report as Retailer.</b></p>
                </td>
              </tbody>
            </table>
          </div>
        </div>
        <h4>VIEW REPORTS</h4>
        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                  <table>
                    <thead>
                      <tr>
                        <th>Order Number</th>
                        <th>Role</th>
                        <th>View Report</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of dataValue">
                        <td>{{data.orderno}}</td>
                        <td>{{data.role}}</td>
                        <td><a [attr.href]="data.fileInfo" target="_blank"><i class="material-icons">cloud_download</i></a></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
